$bg: #232428;
$txt-color: #fff;
$txt-fade-color: #4c4e55;
$txt-color-secondary: #6c7079;
// Font sizes
$header-fnt: 13px;
$header-l: 32px;
$header-m: 28px;
$header-sm: 23px;
// Containers
// Slider
$slider-primary: #fff;
$slider-secondary: #999;
$slider-secondary-rgba: rgba(255, 255, 255, 0.5333);